# #############################################################################
# Docker Production Env
# #############################################################################

# #############################################################################
# Host environment
# #############################################################################
HOST_ENV=[HOST_ENV]