# #############################################################################
# Docker development env
# #############################################################################

######################
# APP / GLOBAL
######################
APP_URL=[APP_URL]

# #############################################################################
# Node environment
# #############################################################################
PORT_NODE=[PORT_NODE]

# #############################################################################
# Host environment
# #############################################################################
HOST_ENV=[HOST_ENV]